version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"  # 唯一端口：5000
    volumes:
      - ./backend/config:/app/config  # 配置持久化
      - ./backend/output:/app/output  # 节目单持久化
    environment:
      - PORT=5000
      - UPDATE_INTERVAL=21600
      - FFPROBE_CONCURRENCY=8
    restart: always
    deploy: {}   # 删除
